.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 1000;/*数が大きいほうが手前に来る*/
}
.drag {
    z-index: 1001;
}

#mark1{
    top: 100;
    left: 0;
}
#mark2{
    top: 100;
    left: 110px;
}
#mark3{
    top: 100;
    left: 220px;
}
#mark4{
    top: 100;
    left: 330px;
}
#mark5{
    top: 100;
    left: 440px;
}

/*ハートカウンタ*/
header {
    position: fixed;
    top: 0;
    left:0;
    background-color: white;
}
.counter{
    display: inline-block;
}

/*中身を非表示にしておく*/
.box .odai {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.box input:checked ~ .odai {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
/*答えを隠す*/
.box label {
    margin: 1.5rem 10%;
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}
/*ボタンホバー時*/
.box label:hover {
    background: #efefef;
}
/*チェックは見えなくする*/
.box input {
    display: none;
}
/*ルール説明*/
.explain{
    width:550px;
    height: 450px;
}
.explain ol {
    background: #fffaf1;
    box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
    border: dashed 2px #ffb03f;/*破線*/
    border-radius: 9px;
    margin-left: 10px;/*はみ出ないように調整*/
    margin-right: 10px;/*はみ出ないように調整*/
    padding: 0.5em;
    counter-reset:number; /*数字をリセット*/
    list-style-type: none!important; /*数字を一旦消す*/
  }
  
.explain ol li {
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 30px;
    position: relative;
  }

.explain li:before{
    /* 以下数字をつける */
    position: absolute;
    counter-increment: number;
    content: counter(number);
    /*数字のデザイン変える*/
    display:inline-block;
    background: #ffb107;
    color: white;
    font-family: 'Avenir','Arial Black','Arial',sans-serif;
    font-weight:bold;
    font-size: 10px;
    border-radius: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;

}